.contact {
    margin-top: 100px;
    color: #9292ad;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact h2 {
    color: #fff;
}

.contact form .firstName { grid-area: i1; }
.contact form .lastName { grid-area: i2; }
.contact form .mail { grid-area: i3; }
.contact form .subject { grid-area: i4; }
.contact form .msg { grid-area: i5; }

.contact form {
    display: grid;
    margin-top: 100px;
    grid-template-areas:
                "i1 i2"
                "i3 i4"
                "i5 i5";
}

.contact form textarea {
    width: 100%;
    height: 150px;
}

.contact div {
    display: flex;
    flex-direction: column;
    margin: 15px 10px;
}

.contact input, textarea, select {
    background-color: #16171b;
    border-radius: 0px;
    color: #fff;
    width: 350px;
    height: 60px;
    border: none;
    margin-top: 10px;
    padding-left: 15px;
}

.contact input:focus, textarea:focus, select:focus {
    outline-color: #1d3885;
}

.contact a {
    margin-top: 25px;
}