footer {
    height: 250px;
    margin-top: 100px;
    color: #9ea0bd;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

footer .navigation ul {
    margin-left: -50px;
}

footer .info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
footer .info p {
    margin-top: 10px;
}

footer .rs a {
    margin-right: 25px;
}

footer .rs a img {
    width: 20px;
    height: 20px;
}

footer p {
    font-size: 14px;
}