header {
    display: flex;
    flex-direction: column;
}

.header-ban {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.header-ban:hover {
    opacity: .9;
}

header .round {
    width: 250px;
    height: 250px;
    cursor: pointer;
    border-radius: 50%;
    background: linear-gradient(48deg, rgba(98,89,255,1) 0%, rgb(254 51 51) 100%);
}


.banner {
    position: relative;
    min-width: 1000px;
    margin-bottom: 70px;
}

header h1 {
    font-size: 6em;
    max-width: 630px;
    position: absolute;
    top: 72px;
    left: 80px;
    line-height: 1.1;
    cursor: pointer;
}

header .rs {
    margin-left: 550px;
}

header .rs a {
    margin-right: 25px;
}

header .rs a img {
    width: 20px;
    height: 20px;
}
header .rs a img:hover {
    opacity: .8;
}