.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #9ea0bd;
}

.navigation ul {
    width: 450px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.blue-btn {
    background: linear-gradient(90deg, rgba(98,89,255,1) 0%, rgb(254 51 51) 100%);
    border-radius: 0px;
    padding: 12px 27px;
    color: #fff;
}
.blue-btn:hover {
    opacity: .9;
}

#contact {
    scroll-behavior: smooth;
}