.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skills-container h3 {
    margin-bottom: 60px;
}

.skill-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 0;
    animation-name: skill-left-to-right;
    animation-duration: 1s;
}

@keyframes skill-left-to-right {
    0% {
        margin-left: -1000px;
        opacity: 0;
    }
    35% {
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}

.skill-box img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 30px;
    margin-top: -20px;
}

.skill-box .info {
    width: 550px;
}

.skill-box p {
    color: #9ea0bd;
    font-size: 13px;
    line-height: 1.5;
}

.skill-box .blue-arrow {
    width: 30px;
    height: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

.skills-container .blue-btn {
    margin-top: 50px;
}