.slidershow {
    width: 100%;
    /* height: 250px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
    cursor: pointer;
}

.slidershow, .slidershow .boxs{
    display: flex;
    position: relative;
    
}

.slidershow .arrow-slide {
    width: 25px;
}
.thisimg  .arrow-slide {
    width: 40px;
    height: 60px;
    margin-top: 200px;
    
}
.thisimg .slidershow {
    height: 500px;
}

.slidershow .arrow-slide:first-child {
    transform: rotate(180deg);
}

.slidershow .box-slide {
    width: 300px;
    height: 250px;
    margin: 0 25px;
    transition: 1s;
}

.slidershow .box-slide .container-img {
    position: relative;


}
.container-img:hover {
    opacity: .5;
    transition: .5s;
}
.text-block {
    position: absolute;
    bottom: 80px;
    right: 52px;
    left: 50px;
    background: linear-gradient(48deg, rgba(98,89,255,1) 0%, rgb(254 51 51) 100%);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.thisimg .slidershow .box-slide .text-block {
    visibility: hidden;
}

.slidershow .box-slide .container-img .see-info:hover {
    border: #fff;
}
.thisimg .slidershow .box-slide img:hover {
    opacity: 1;

}
.thisimg .slidershow .box-slide {
    width: 540px;
    height: 250px;
    margin: 0 25px;
    transition: 1s;
}

.box-slide:first-child, .box-slide:last-child{
    opacity: .2;
}

.slidershow .box-slide img {
    border-radius: 0px;
    width: 300px;
    height: 250px;
}
.thisimg .slidershow .box-slide img {
    border-radius: 0px;
    width: 550px;
    height: 400px;
}

.box-project {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.box-project h2 {
    display: flex;
    flex-direction: column;
    width: 60vw;
    text-align: center;
}

.box-project h2::after {
    content: '';
    border: solid 1px #9ea0bd;
    margin-bottom: 20px;
}
  
.box-project img {
    margin: 0;
    width: 40vw;
    height: 600px;
    border-radius: 0px;
}

.box-project .info {
    display: flex;
}
.box-project .thetitle {
    width: 100%;
    display: flex;
    justify-content: center;
}
.context {
    margin-right: 300px;
}

.box-project .info p {
    width: 30vw;
    color: #9ea0bd;
    font-size: 14px;
    margin: 5px;
}

.box-project .info p:first-child {
    content: '';
    border-right: solid 1px #9ea0bd;
}

.box-project a img {
    width: 20px;
    height: 20px;
    margin: 0;
    padding-right: 5px;
}

.box-project .btn {
    display: flex;
    justify-content: space-between;
    width: 60vw;
    margin-top: 100px;
}

.box-project .btn a {
    display: flex;
    justify-content: center;
    line-height: 1.2;
}

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: .6;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #fff;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  .skills-ul ul {
    margin-top: 10px;
    margin-left: 20px;
    color: #fff;
    font-weight: bold;
}
.skills-ul li {
    color: #9ea0bd;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: lighter;
    font-size: 14px;
}
.zoom-icon {
    color: #fff;
    background-color: #09090b;
    border: #09090b;
}
.thisimg {
    
}